{{define "account"}}
    <div class="ml-[35%] mr-[35%] text-center my-4 border-b-4 font-poppins">
        Mes informations
    </div>
    <div class="flex-col flex font-poppins items-center justify-around">
        <div>
            <span class="font-bold">Nom</span>: {{.Name}}
        </div>
        <div>
            <span class="font-bold">Numéro</span>: {{UUID}}
        </div>
    </div>

    <div class="ml-[35%] mr-[35%] text-center my-4 border-b-4 font-poppins">
        Livres empruntés
    </div>
    <div class="flex flex-wrap">
    {{range .Borrowed}}
        {{template "book-preview" .}}
    {{end}}
    </div>

    <div class="ml-[35%] mr-[35%] text-center my-4 border-b-4 font-poppins">
        Livres likés
    </div>
    <div class="flex flex-wrap">
        {{range .Liked}} {{template "book-preview" .}} {{end}}
    </div>

    <div class="ml-[35%] mr-[35%] text-center my-4 border-b-4 font-poppins">
        Livres commentés
    </div>
    <div class="flex flex-wrap">
        {{range .Reviewed}} {{template "book-preview" .}} {{end}}
    </div>
{{end}}
