{{define "header"}}
    EHO YA QQUN
        <!--HEADER HERE-->
        <a href="http://localhost:8080/browse"
           hx-boost="true"
           hx-headers='{"Tmpl":"main"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           onclick="clear_browse_bar()">
            <img src="http://localhost:8080/logo" alt="logo">

        </a>

        <div>
            <a href="http://localhost:8080/browse/all"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top">
                Tous les livres
            </a>
<!--
            <a href="http://localhost:8080/browse/latest"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top">
                Nouveautés
            </a>
-->
            <a href="http://localhost:8080/browse/tag/{tag}"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-vals='{"tag":"Manga"}'
               hx-ext="path-params"
               hx-target=".main"
               hx-swap="innerHTML show:window:top">
                Manga
            </a>
            <a href="http://localhost:8080/browse/tag/{tag}"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-vals='{"tag":"BD"}'
               hx-ext="path-params"
               hx-target=".main"
               hx-swap="innerHTML show:window:top">
                BD
            </a>
        </div>

        <label class ="flex-grow">
            <input type="search" name="q" id="browse-bar"
                placeholder="Livre, saga, genre, auteur, ..."
                {{if hasField . "Query"}}
                    value ="{{.Query}}"
                {{end}}
                   hx-trigger="input changed delay:0.4s, search"
                   hx-get="http://localhost:8080/browse"
                   hx-push-url="true"
                   hx-on::after-request="cleanURL()"
                   hx-headers='{"Tmpl":"main"}'
                   hx-include="this"
                   hx-target=".main"
                   hx-swap="innerHTML show:window:top">

        </label>

        <label id="toggle_serie_mode_label">
            <input type="checkbox" id="toggle_serie_mode"
                   onclick="toggle_serie_switch()"
                   hx-target=".main"
                   hx-headers='{"Tmpl":"main"}'
                   hx-swap="innerHTML show:window:top"
                   hx-trigger="toggle_serie_switch">
        </label>


        <a href="http://localhost:8080/contact"
           onclick="clear_browse_bar()"
           hx-boost="true"
           hx-headers='{"Tmpl":"main"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top">
            Contact
        </a>

        {{if .IsAdmin}}
            <a href="http://localhost:8080/admin"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top">
                Pannel admin
            </a>
        {{end}}

        {{if .IsLogged}}
            <a href="http://localhost:8080/account"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top">
                Mon compte</a>

            <a href="http://localhost:8080/logout">
                Logout</a>
        {{else}}
        <a href="http://localhost:8080/login">
            Login</a>
        {{end}}

{{end}}
