{{define "header"}}
    < class="header
    sticky
    bg-[#111111]
    font-header
    top-0
    left-0
    right-0
    z-50
    transition-shadow
    flex
    flex-row
    items-center
    mx-auto
    px-4
    py-2
    gap-2">
        <!--HEADER HERE-->
        <a href="https://bulle.rezel.net/browse"
           hx-boost="true"
           hx-headers='{"Tmpl":"main"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           onclick="clear_browse_bar()"
           class="header-main
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-sm
                    transition-colors
                    px-2.5
                    relative
                    inline-block
                    h-full">
            <img src="https://bulle.rezel.net/logo" alt="logo" class="logo
                    hidden
                    dark:block
                    h-12
                    cursor-pointer">
        </a>

        <div class="browse-button">
            <a href="https://bulle.rezel.net/browse/all"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-latest
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                Tous les livres
            </a>
<!--
            <a href="https://bulle.rezel.net/browse/latest"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-latest
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                Nouveautés
            </a>
-->
            <a href="https://bulle.rezel.net/browse/tag/{tag}"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-vals='{"tag":"Manga"}'
               hx-ext="path-params"
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-manga
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                Manga
            </a>
            <a href="https://bulle.rezel.net/browse/tag/{tag}"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-vals='{"tag":"BD"}'
               hx-ext="path-params"
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-bd
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                BD
            </a>
        </div>

        <label class ="flex-grow">
            <input type="search" name="q" id="browse-bar"  class="
                w-full
                rounded-full
                text-black
                pl-5"
                placeholder="Livre, saga, genre, auteur, ..."
                {{if hasField . "Query"}}
                    value ="{{.Query}}"
                {{end}}
                   hx-trigger="input changed delay:0.4s, search"
                   hx-get="https://bulle.rezel.net/browse"
                   hx-push-url="true"
                   hx-on::after-request="cleanURL()"
                   hx-headers='{"Tmpl":"main"}'
                   hx-include="this"
                   hx-target=".main"
                   hx-swap="innerHTML show:window:top">

        </label>

        <label id="toggle_serie_mode_label">
            <input type="checkbox" id="toggle_serie_mode"
                   onclick="toggle_serie_switch()"
                   hx-target=".main"
                   hx-headers='{"Tmpl":"main"}'
                   hx-swap="innerHTML show:window:top"
                   hx-trigger="toggle_serie_switch">
        </label>


        <a href="https://bulle.rezel.net/contact"
           onclick="clear_browse_bar()"
           hx-boost="true"
           hx-headers='{"Tmpl":"main"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           class="header-contact
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
            Contact
        </a>

        {if .IsAdmin}}
            <a href="https://bulle.rezel.net/admin"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="color-gray-200
                            hover:text-blue-600
                            dark:hover:text-blue-400
                            text-base
                            transition-colors
                            px-2
                            relative
                            inline-block
                            h-full">
                Pannel admin</a>
        {{end}}

        {{if and (hasField . "IsLogged") .IsLogged}}
            <a href="https://bulle.rezel.net/account"
               onclick="clear_browse_bar()"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="color-gray-200
                        hover:text-blue-600
                        dark:hover:text-blue-400
                        text-base
                        transition-colors
                        px-2
                        relative
                        inline-block
                        h-full">
                Mon compte</a>

            <a href="https://bulle.rezel.net/logout"
               class="header-auth
                        color-gray-200
                        hover:text-blue-600
                        dark:hover:text-blue-400
                        text-base
                        transition-colors
                        px-2
                        relative
                        inline-block
                        h-full">
                Logout</a>
        {{else}}
        <a href="https://bulle.rezel.net/login"
           class="header-auth
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
            Login</a>
        {{end}}
    </nav>
{{end}}