{{define "header"}}
    <nav class="header
    sticky
    bg-[#111111]
    font-header
    top-0
    left-0
    right-0
    z-50
    transition-shadow
    flex
    flex-row
    items-center
    mx-auto
    px-4
    py-2
    gap-2">
        <!--HEADER HERE-->
        <a href="http://localhost:42069/browse"
           hx-boost="true"
           hx-headers='{"Tmpl":"rs"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           class="header-main
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-sm
                    transition-colors
                    px-2.5
                    relative
                    inline-block
                    h-full">
            <img src="http://localhost:42069/logo" alt="logo" class="logo
                    hidden
                    dark:block
                    h-12
                    cursor-pointer">
        </a>

        <div class="browse-button">
            <a href="http://localhost:42069/browse/latest"
                    hx-boost="true"
                    hx-headers='{"Tmpl":"rs"}'
                    hx-target=".main"
                    hx-swap="innerHTML show:window:top"
                    class="header-latest
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                Nouveautés
            </a>

            <a href="http://localhost:42069/browse/tag/{tag}"
               hx-boost="true"
               hx-headers='{"Tmpl":"rs"}'
               hx-vals='{"tag":"Manga"}'
               hx-ext="path-params"
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-manga
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                Manga
            </a>
            <a href="http://localhost:42069/browse/tag/{tag}"
               hx-boost="true"
               hx-headers='{"Tmpl":"rs"}'
               hx-vals='{"tag":"BD"}'
               hx-ext="path-params"
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-bd
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
                BD
            </a>
        </div>

        <label class ="
        flex-grow">
            <input type="search" name="q" id="search-box" oninput="update_search_history()" class="
                w-full
                rounded-full
                text-black
                pl-5"


                placeholder="Livre, saga, genre, auteur, ..."
                   hx-trigger="input changed delay:0.4s, search"
                   hx-get="http://localhost:42069/browse"
                   hx-headers='{"Tmpl":"rs"}'
                   hx-include="this"
                   hx-target=".main"
                   hx-swap="innerHTML show:window:top">

        </label>

        <label id="toggle_serie_mode_label">
            <input type="checkbox" id="toggle_serie_mode" onclick="toggle_serie_switch()">
        </label>


        <a href="http://localhost:42069/contact"
           hx-boost="true"
           hx-headers='{"Tmpl":"c"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           class="header-contact
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
            Contact
        </a>

        <a href="http://localhost:42069/auth"
           hx-boost="true"
           hx-headers='{"Tmpl":"a"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           class="header-auth
                    color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block
                    h-full">
        ACCOUT HERE</a>
    </nav>
{{end}}