<!--
    {[]Research}
-->
{{define "index"}}
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bulle-bliothèque</title>
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    </head>
    <body>

    {{template "header"}}

    {{template "main" .}}

    </body>
    </html>
{{end}}

{{define "header"}}
    <div class="header">
        <!--HEADER HERE-->
        <label>
            <input type="text" name="q" class="search-box"
                   hx-trigger="keyup changed delay:0.4s"
                   hx-get="/browse"
                   hx-include="this"
                   hx-target=".main"
                   hx-swap="innerHTML">
        </label>
        <div class="browse-button">
            <button type="button"
                    hx-get="/main"
                    hx-target=".main"
                    hx-swap="innerHTML"
                    hx-trigger="click">Acceuil</button>
            <button type="button"
                hx-get="/browse/all"
                hx-target=".main"
                hx-swap="innerHTML"
                hx-trigger="click">Nouveautés</button>
            <button type="button"
                    hx-get="/browse/tag"
                    hx-target=".main"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    hx-vals='{"t":["manga"]}'>Manga</button>
            <button type="button"
                    hx-get="/browse/tag"
                    hx-target=".main"
                    hx-swap="innerHTML"
                    hx-trigger="click"
                    hx-vals='{"t":["bd"]}'>BD</button>
        </div>
    </div>
{{end}}

<!--
{[]Research}
-->
{{define "main"}}
    <div class="main">
        <!--RESEARCHES HERE-->
        {{range .}}
            {{template "research" .}}
        {{end}}
    </div>
{{end}}