<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Barre Fixe en Haut</title>
<link rel="stylesheet" href="style/indexV.css">
</head>
<body>

<div class="fixed-top-bar">
    <div class="left-menu">
        <img src="image/logo.png" alt="Logo" class="navbar-logo">
        <a href="/manga" class="bar-item">Manga</a>
        <a href="/bd" class="bar-item">BD</a>
        <a href="/livre" class="bar-item">Livre</a>
        <a href="/nouveaux" class="bar-item">Nouveaux</a>
        <a href="/recommandation" class="bar-item">Recommandation</a>

    </div>
    <div class="right-menu">
        <a href="/login" class="bar-item">Connexion</a>
        <a href="/register" class="bar-item">Inscription</a>
        <!-- Autres éléments que vous souhaitez ajouter -->
    </div>
    
</div>

<div class="content">
    <p>Ici commence le contenu de votre page qui défilera normalement. Ajoutez suffisamment de contenu ici pour pouvoir faire défiler la page et voir l'effet de la barre fixe en haut.</p>
    <!-- Répétez ce paragraphe ou ajoutez d'autres éléments pour créer un contenu suffisamment long pour tester le défilement. -->
</div>

</body>
</html>
