<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulle-bliothèque</title>
    <link rel="icon" href="image/icon.png" type="image/png">
    <link rel="stylesheet" href="style/index2.css">
</head>
<body>
<div class="header">

    <div class="left-header">
        <img src="image/logo.png" alt="logo" class="logo">

        <ul class="categories">
            <li>Manga</li>
            <li>BD</li>
            <li>Livres</li>
            <li>Nouveaux</li>
            <li>Recommandations</li>
        </ul>
    </div>




    <div class="right-header">
        <a href="" class="contact">Contact</a>

        <img src="image/user.png" alt="user" class="user">
    </div>
</div>
<hr>

</body>
</html>
