{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulle-bliothèque</title>
    <link rel="icon" href="image/icon.png" type="image/png">
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
<div class="header">


    <a href="/" class="logo">
        <img src="image/logo.png" alt="logo"/>
    </a>

    <ul>
        <li><a href="" class="manga">
                Manga
        </a></li>

        <li><a href="" class="comic">
                BD
        </a></li>

        <li><a href="" class="books">
                Livres
        </a></li>

        <li><a href="" class="new">
                Nouveaux
        </a></li>
    </ul>

    <label>
        <input type="text" placeholder="Rechercher un livre..." class="search">
    </label>

    <a href="">Contact</a>

    <a href="">
        <img src="image/user.png" alt="user"/>
    </a>
    <span class="caret"></span>

    <hr>

</div>
</body>
</html>
{{end}}