<!--
<div class="book-receiver">

    <div hx-get="/scroll"
         hx-trigger="revealed"
         hx-swap="outerHTML">
    </div>

</div>
-->

<!--
{{ block "scroll" . }}

    <div class="book-template">
        <div class="book-image"
             hx-get="/image"
             hx-trigger="revealed"
             hx-swap="innerHTML"></div>
        <div class="book-title">
            {{.Title}}
        </div>
    </div>
<p hx-get="/scroll"
    hx-trigger="revealed"
    hx-swap="outerHTML">
    LISTENER
</p>
{{end}}

{{block "image" .}}
    <img src="image/icon.png" alt="book">
{{end}}
-->