{{define "book"}}
<div class="flex flex-row pt-4">
    <img
        src="https://bulle.rezel.net/book/{{.UUID}}/cover"
        alt="cover"
        class="h-[60vh] border-r-[6px] py-4 border-[#825432] pl-4 max-w-[40%]"
    />
    <div class="flex flex-col font-poppins pt-6 pl-4">
        <div class="border-b-4 mb-4">
            <span class="font-bold">Titre</span>: {{.Title}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Description</span>: {{.Description}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Auteur(s)</span>: {{range .Authors}}
            <a
                href="https://bulle.rezel.net/browse/author/{{escape .}}"
                hx-on::after-request="clear_browse_bar();showTop()"
                hx-boost="true"
                hx-headers='{"Tmpl":"main"}'
                hx-target=".main"
                hx-swap="innerHTML"
                class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors underline px-[4px] underline-offset-2"
            >
                {{.}}
            </a>
            {{end}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Tag(s)</span>: {{range .Tags}}
            <a
                href="https://bulle.rezel.net/browse/tag/{{escape .}}"
                hx-on::after-request="clear_browse_bar();showTop()"
                hx-boost="true"
                hx-headers='{"Tmpl":"main"}'
                hx-target=".main"
                hx-swap="innerHTML"
                class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors underline px-[4px] underline-offset-2"
            >
                {{.}}
            </a>
            {{end}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Date de publication</span>:
            {{.PublishedDate}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Editeur</span>: {{.Publisher}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Cote</span>: {{.Cote}}
        </div>

        <div class="border-b-4 mb-4">
            <span class="font-bold">Nombre de pages</span>: {{if hasField .
            "PageCount"}}{{.PageCount}}{{end}}
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Likes</span>: {{.LikeCount}} {{if
            .IsLogged}} {{if .HasLiked}}
            <button
                hx-post="https://bulle.rezel.net/book/{{.UUID}}/unlike"
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-target="this"
                class="line-through decoration-red-950 border-2 border-black text-black hover:text-blue-600 dark:hover:text-blue-400 text-base transition-colors px-1 ml-4 relative inline-block"
            >
                Liker
            </button>

            {{else}}

            <button
                hx-post="https://bulle.rezel.net/book/{{.UUID}}/like"
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-target="this"
                class="border-2 border-black text-black hover:text-blue-600 dark:hover:text-blue-400 text-base transition-colors px-1 ml-4 relative inline-block"
            >
                Liker
            </button>

            {{end}} {{else}}
            <a
                href="https://bulle.rezel.net/login"
                class="border-2 border-black text-black hover:text-blue-600 dark:hover:text-blue-400 text-base transition-colors px-1 ml-4 relative inline-block"
            >
                Connectez-vous pour liker</a
            >
            {{end}}
        </div>

        <div class="border-b-4 mb-4">
            <span class="font-bold">Serie</span>:
            <a
                href="https://bulle.rezel.net/serie/{{.SerieUUID}}"
                hx-on::after-request="clear_browse_bar();showTop()"
                hx-boost="true"
                hx-headers='{"Tmpl":"main"}'
                hx-target=".main"
                hx-swap="innerHTML"
                class="hover:text-blue-600 dark:hover:text-blue-400 transition-colors underline px-[4px] underline-offset-2"
            >
                {{.SerieName}}
            </a>
        </div>
        <div class="border-b-4 mb-4">
            <span class="font-bold">Status</span>: {{if eq .Status 1}}
            <span
                class="inline-block align-middle h-6 w-6 rounded-full border-2 border-black bg-orange-500"
            ></span>

            Emprunté {{if .HasBorrowed}}
            <button
                hx-post="https://bulle.rezel.net/book/{{.UUID}}/return"
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-target="this"
                class="border-2 border-black text-black hover:text-blue-600 dark:hover:text-blue-400 text-base transition-colors px-1 ml-4 relative inline-block"
            >
                Rendre
            </button>
            {{end}} {{else if eq .Status 2}}<span
                class="inline-block align-middle h-6 w-6 rounded-full border-2 border-black bg-red-600"
            ></span>
            Perdu {{else if eq .Status 3}}
            <span
                class="inline-block align-middle h-6 w-6 rounded-full border-2 border-black bg-[#55FF55]"
            ></span>
            Disponible
            <button
                hx-post="https://bulle.rezel.net/book/{{.UUID}}/borrow"
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-target="this"
                class="border-2 border-black text-black hover:text-blue-600 dark:hover:text-blue-400 text-base transition-colors px-1 ml-4 relative inline-block"
            >
                Emprunter</button
            >{{end}}
        </div>
    </div>
</div>

<div class="ml-[35%] mr-[35%] text-center pt-4 mb-8 border-b-4 font-poppins">
    Commentaires
</div>

{{if hasField . "UserReview"}}

<form
    hx-put="https://bulle.rezel.net/book/{{.UUID}}/review"
    hx-target="this"
    hx-swap="outerHTML"
    class="ml-[10%] mr-[10%] flex font-poppins items-center"
>
    <textarea
        class="w-[80%] border-2 border-gray-300 p-1 rounded-lg overflow-y-scroll placeholder-gray-600"
        type="text"
        name="message"
        placeholder="Modifiez votre commentaire..."
    >
{{.UserReview}}</textarea
    >
    <button
        class="ml-4 border-2 bg-white p-[6px] w-auto hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
    >
        Modifier
    </button>
    <button
        hx-put="https://bulle.rezel.net/book/{{.UUID}}/review"
        hx-target="this"
        hx-swap="outerHTML"
        class="ml-4 border-2 bg-white p-[6px] w-auto hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
    >
        Supprimer
    </button>
</form>

{{else}}
<form
    hx-put="https://bulle.rezel.net/book/{{.UUID}}/review"
    hx-target="#reviews"
    hx-swap="innerHTML"
    class="ml-[10%] mr-[10%] flex font-poppins items-center"
>
    <textarea
        class="w-[80%] border-2 border-gray-300 p-1 rounded-lg overflow-y-scroll placeholder-gray-600"
        type="text"
        name="message"
        placeholder="Ajoutez un commentaire..."
    ></textarea>
    <button
        class="ml-4 bg-white border-2 p-[6px] w-auto hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
    >
        Poster
    </button>
</form>
{{end}}
<div id="reviews">{{template "reviews" .Reviews}}</div>
{{end}}
