{{define "book"}}
    <div>
        {{.UUID}}
        <img src="https://bulle.rezel.net/book/{{.UUID}}/cover" alt="book">
    </div>

    <div>
        <label>Title</label>
        {{if .Title}}
            {{.Title}}
        {{end}}
    </div>

    <div>
        <label>Description</label>
        {{if .Description}}
            {{.Description}}
        {{end}}
    </div>

    <div>
        <label>Authors</label>
        {{if .Authors}}
            {{range .Authors}}
                <a href="https://bulle.rezel.net/browse/author/{{escape .}}"
                   hx-boost="true"
                   hx-headers='{"Tmpl":"main"}'
                   hx-target=".main"
                   hx-swap="innerHTML show:window:top"
                   class="header-main">
                    {{.}}
                </a>
            {{end}}
        {{end}}
    </div>

    <div>
        <label>Tags</label>
        {{if .Tags}}
            {{range .Tags}}
                <a href="https://bulle.rezel.net/browse/tag/{{escape .}}"
                   hx-boost="true"
                   hx-headers='{"Tmpl":"main"}'
                   hx-target=".main"
                   hx-swap="innerHTML show:window:top"
                   class="header-main">
                    {{.}}
                </a>
            {{end}}
        {{end}}
    </div>

    <div>
        <label>PublishedDate</label>
        {{if .PublishedDate}}
            {{.PublishedDate}}
        {{end}}
    </div>

    <div>
        <label>Publisher</label>
        {{if .Publisher}}
            {{.Publisher}}
        {{end}}
    </div>

    <div>
        <label>Cote</label>
        {{if .Cote}}
            {{.Cote}}
        {{end}}
    </div>

    <div>
        <label>PageCount</label>
        {{if .PageCount}}
            {{.PageCount}}
        {{end}}
    </div>

    <div>
        <label>Serie</label>
        {{if and .SerieName .SerieUUID}}
            <a href="https://bulle.rezel.net/serie/{{.SerieUUID}}"
               hx-boost="true"
               hx-headers='{"Tmpl":"main"}'
               hx-target=".main"
               hx-swap="innerHTML show:window:top"
               class="header-main">
                {{.SerieName}}
            </a>
        {{else if or .SerieName .SerieUUID}}
            SERIE EITHER MISSING NAME OR UUID
        {{end}}
    </div>

    <div>
        <label>Status</label>
        {{if eq .Status 1}}
            Emprunté
        {{else if eq .Status 2}}
            Perdu
        {{else if eq .Status 3}}
            Disponible
        {{else}}
            NO STATUS. HOW?
        {{end}}
    </div>


    {{if eq .Status 3}}
    <div>
        <button hx-post="https://bulle.rezel.net/book/{{.UUID}}/borrow" hx-swap="outerHTML" hx-trigger="click" hx-target="this"
                class="color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block">
            Emprunter
        </button>
    </div>
    {{else if and .HasBorrowed (eq .Status 1)}}
    <div>

        <button hx-post="https://bulle.rezel.net/book/{{.UUID}}/return" hx-swap="outerHTML" hx-trigger="click" hx-target="this"
                class="color-gray-200
                    hover:text-blue-600
                    dark:hover:text-blue-400
                    text-base
                    transition-colors
                    px-2
                    relative
                    inline-block">
            Rendre
        </button>
    </div>
    {{end}}

    <div>
        Nombre de like: {{.LikeCount}}
    </div>
    <div>
        {{if .IsLogged}}
            {{if .HasLiked}}
                <div>
                    <button hx-post="https://bulle.rezel.net/book/{{.UUID}}/unlike" hx-swap="outerHTML" hx-trigger="click" hx-target="this"
                            class="color-gray-200
                            hover:text-blue-600
                            dark:hover:text-blue-400
                            text-base
                            transition-colors
                            px-2
                            relative
                            inline-block">
                        Déliker
                    </button>
                </div>
            {{else}}
                <div>
                    <button hx-post="https://bulle.rezel.net/book/{{.UUID}}/like" hx-swap="outerHTML" hx-trigger="click" hx-target="this"
                            class="color-gray-200
                            hover:text-blue-600
                            dark:hover:text-blue-400
                            text-base
                            transition-colors
                            px-2
                            relative
                            inline-block">
                        Liker
                    </button>
                </div>
            {{end}}

        {{else}}
            Vous devez être connecté pour liker un livre
        {{end}}
    </div>

    <div>
        {{if hasField . "UserReview"}}
            Votre commentaire:
            <form hx-put="https://bulle.rezel.net/book/{{.UUID}}/review" hx-target="this" hx-swap="outerHTML">
                <label>Commentaire
                    <input type="text" name="message" value="{{.UserReview}}">
                </label>
                <button>Mettre à jour</button>
            </form>
            <button hx-put="https://bulle.rezel.net/book/{{.UUID}}/review" hx-target="this" hx-swap="outerHTML">Supprimer</button>
        {{else}}
            Ajouter un commentaire:
                <form hx-put="https://bulle.rezel.net/book/{{.UUID}}/review" hx-target="this" hx-swap="outerHTML">
                    <label>Commentaire
                        <input type="text" name="message" value="">
                    </label>
                    <button class="btn">Ajouter</button>
                </form>
        {{end}}
    </div>

    <div>Commentaires</div>
        {{range .Reviews}}
            <div>
                {{.UserName}} le {{.Date}}: {{.Message}}
            </div>
        {{end}}
{{end}}