.fixed-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b8c7ca; /* Couleur de fond de la barre */
    color: #2a3f5f; /* Couleur du texte de la barre */
    padding: 3px 0; /* Ajustez la hauteur de la barre avec le padding */
    z-index: 1000; /* S'assure que la barre reste au-dessus des autres éléments */
    display: flex;
    justify-content: space-between; /* Alignez les enfants à gauche et à droite */
}

.navbar-logo {
    height: 40px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 10px; /* Ajoutez de l'espace entre l'image et le texte suivant */
}
.content {
    padding-top: 40px; /* Crée de l'espace au début du contenu */
  }
.bar-item {
    margin: 0 10px; /* Espacement entre les éléments */
    color: #2a3f5f; /* Couleur du texte des liens */
    text-decoration: none; /* Enlève le soulignement des liens */
    padding: 5px 10px; /* Espacement autour du texte dans le lien */
    border-radius: 5px; /* Arrondit les coins pour un look plus doux */
    transition: background-color 0.3s; /* Animation de survol */
}
.left-menu {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
}

.right-menu {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
}


.bar-item:hover {
    background-color: #b8c7ca; /* Couleur de fond lors du survol */
}
