.fixed-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b8c7ca; /* Couleur de fond de la barre */
    color: #2a3f5f; /* Couleur du texte de la barre */
    padding: 3px 0; /* Ajustez la hauteur de la barre avec le padding */
    z-index: 1000; /* S'assure que la barre reste au-dessus des autres éléments */
    display: flex;
    justify-content: space-between; /* Alignez les enfants à gauche et à droite */
}

.navbar-logo {
    height: 40px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 10px; /* Ajoutez de l'espace entre l'image et le texte suivant */
}
.content {
    padding-top: 40px; /* Crée de l'espace au début du contenu */
  }
.bar-item {
    margin: 0 10px; /* Espacement entre les éléments */
    color: #2a3f5f; /* Couleur du texte des liens */
    text-decoration: none; /* Enlève le soulignement des liens */
    padding: 5px 10px; /* Espacement autour du texte dans le lien */
    border-radius: 5px; /* Arrondit les coins pour un look plus doux */
    transition: background-color 0.3s; /* Animation de survol */
}
.left-menu {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    margin-left: 8px;
}

.center-menu {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
}

.right-menu {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    margin-right: 8px;
}


.bar-item:hover {
    background-color: #9ba8ab; /* Couleur de fond lors du survol */
}

/* Style par défaut pour le contenu déroulant, caché */
.dropdown-content {
    display: block;
    opacity: 0; /* Commencez par rendre le menu invisible */
    visibility: hidden; /* Cachez le menu pour éviter toute interaction lorsque celui-ci n'est pas "affiché" */
    position: absolute;
    background-color: #b8c7ca; /* Couleur de fond */
    color: #2a3f5f; /* Couleur du texte */
    padding: 3px 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: -1;
    top: 100%;
    right: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    transform: translateY(-20px); /* Commencez légèrement au-dessus de la position finale */
  }
  
  /* Style pour le contenu déroulant lorsqu'il est affiché (classe .show ajoutée) */
  .show {
    opacity: 1; /* Rendez le menu entièrement visible */
    visibility: visible; /* Assurez-vous que le menu est interactif */
    transform: translateY(0); /* Déplacez le menu à sa position finale */
  }
  

.dropdown-content a {
    display: block; /* Ceci est crucial pour assurer que les éléments s'affichent sur différentes lignes */
    color: black; /* Couleur du texte pour les éléments du menu */
    padding: 12px 16px; /* Espacement autour du texte dans chaque élément du menu */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
  }
.dropdown-content a:hover {
    background-color: rgb(160, 181, 187); /* Couleur de fond au survol */
  }