.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.book img {
    max-width: 10px;
    max-height: 10px;
    height: auto;
}

.book p {
    margin-top: 10px;
}












.book-receiver {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.book-template {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-image {
    width: 100px;
    height: 100px;
}


