<!--
    {Id, Cover, Title}
-->
{{define "book-preview"}}
        <a href="http://localhost:42069/book/{{.UUID}}"
           hx-boost="true"
           hx-headers='{"Tmpl":"b"}'
           hx-target=".main"
           hx-swap="innerHTML show:window:top"
           {{if and (hasField . "Hidable") .Hidable}}
                class="hidable-book-preview"
           {{end}}>

            <div class="book-image">


                <img src="http://localhost:42069/book/{{.UUID}}/cover" alt="book" class="">

            </div>
            <div class="book-title">

                <!--BOOK TITLE HERE-->
                {{.Title}}

            </div>
    </a>

{{end}}