{{define "book-preview"}}

<a
    href="http://localhost:8080/book/{{.UUID}}"
    onclick="clear_browse_bar()"
    hx-boost="true"
    hx-headers='{"Tmpl":"main"}'
    hx-target=".main"
    hx-swap="innerHTML show:window:top"
    class="h-[55vh] inline-block relative z-0 px-2 my-2"
>
    <img
        src="http://localhost:8080/book/{{.UUID}}/cover"
        class="h-[89%] max-w-full rounded-md border-[6px] border-[#825432]"
    />
    <div
        class="h-7 w-7 rounded-full absolute bottom-[4rem] left-4 border-2 border-black
        {{if
        eq
        .Status
        1}}
        bg-orange-950
        {{else
        if
        eq
        .Status
        2}}
        bg-red-950
        {{else
        if
        eq
        .Status
        3}}
        bg-[#55FF55]
        {{else}}
        bg-purple-950
        {{end}}
        "
    ></div>
    <div
        class="px-2 pt-1 box-border min-w-full w-0 text-center font-poppins text-[1.85vh] overflow-hidden h-[11%]"
    >
        {{.Title}}
    </div>
</a>

{{end}}
