<!--
{Name, IsInfinite, BookPreviewSet, InfiniteBookPreviewSet}
-->
{{define "research"}}
    <div class="research">
        <div class="research-name">

            <!--RESEARCH NAME HERE-->
            {{.Name}}

        </div>
        <div class="book-container grid grid-cols-5">

            <!--BOOK TEMPLATES HERE-->
            {{if hasField . "InfinitePreviewSet"}}
                {{template "infinite-preview-set" .InfinitePreviewSet}}
            {{else if hasField . "PreviewSet"}}
                {{template "preview-set" .PreviewSet}}
            {{end}}

        </div>
    </div>
{{end}}