{{define "serie-preview"}}

<a
    href="http://localhost:8080/serie/{{.UUID}}"
    onclick="clear_browse_bar()"
    hx-boost="true"
    hx-headers='{"Tmpl":"main"}'
    hx-target=".main"
    hx-swap="innerHTML show:window:top"
    class="h-[55vh] inline-block relative z-0 px-2 my-2"
>
    <img
        src="http://localhost:8080/serie/{{.UUID}}/cover"
        alt="cover"
        class="h-[89%] max-w-full rounded-md border-[6px] border-[#AA0000]"
    />
    <div
        class="h-7 w-7 bg-gray-300 absolute bottom-[4rem] right-4 justify-center flex items-center font-handwritten border-2 border-black"
    >
        {{.BookCount}}
    </div>
    <div
        class="x-2 pt-1 box-border min-w-full w-0 text-center font-poppins text-[1.85vh] overflow-hidden h-[11%]"
    >
        {{.Name}}
    </div>
</a>

{{end}}
